/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  
}
.colorbg {
    background-color: #f5f5dc;
}

/* Provide sufficient contrast against white background */
a {
    color: blue;
}

.table table-striped {
    background-color:aliceblue;
}


a:hover {
    color: #004aad;
    text-decoration: underline;
}

.btn-primary {
    color: aliceblue;
    background-color: #004aad;
    border-color: #000000;
}

.btn-primary:hover {
    color: #000000;
    background-color: #ffffff;
    border-color: #000000;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #000000;
    background-color: #82f5d2;
    border-color: #000000;

}

.navbar-nav {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0;
    list-style: none;


}


.nav-link{

    padding-left: 1rem;
    padding-right: 1rem;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid black;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 2rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: #000000;
    border-radius: 25px;
    padding-left: 0.7rem;
}

.text-center{

    text-align: left!important;
    margin-left: 34px;
}
.display-4 {
    font-size: 3.0rem;
    font-weight: 300;
    line-height: 1.2;
}


h3 {
    margin-bottom: 1rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #050043;
}



.AboutUs {
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 0.05px;
    padding-right: 10px;
    margin-top: 50px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    text-align: center;
    background-color: beige;
    border-radius: 25px;
    margin-left: -5px;

}

.RegisterBtn {
    border-radius: 25px;
    background-color: aliceblue;
}
.footer{
    background-color: beige
}

