
@{
    ViewData["Title"] = "InsertSingleData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add Destination Country Promos</h1>

<p>
    The data is created
    @(ViewBag.Result == 204 ? " Successfully! " : "Unsuccessfully! This may be because the data already exists!")
</p>