@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<h2>Get to know us!</h2>

<img src="~/Images/AboutUs.jpg" width="100%"  />

<p>At SpeedPort we believe The Sky is for Everyone® and we deliver on this vision 
    through our unique brand of Low Fares Done Right®. We are tireless in our efforts 
    to save you money on your flights, but we know that low fares alone aren’t enough. 
    That’s why we make a bigger commitment – that’s the ‘Done Right’ promise.</p>

<h3>AT SPEEDPORT AIRLINES, WE BELIEVE THE SKY IS FOR EVERYONE</h3>

<p>We recognize that everyone's story is different and we believe that you deserve a travel 
    experience that is unique to you. It's our mission to make that experience easy, affordable 
    and enjoyable. So whether you are reconnecting with loved ones, heading towards your next 
    great adventure, or simply have a budget to keep, we will take you there. Because we want 
    to be the airline for everyone.</p>
<p>
    Testing to see if i can merge, if you can see this means its successful
</p>