@{
    ViewData["Title"] = "Home Page";
}
<img src="~/Images/Speedport.png" width="30%" />
<img src="~/Images/HomeMainImage.jpg" width="100%" />
<div class="text-center">
    
    <h1 class="display-4">See you in the sky with us</h1>
    <p>Plan Ahead & Book with Confidence.</p>
</div>

<h1>test 123</h1>