
@{
    ViewData["Title"] = "CreateNewContainer";
}

<h1>Result: Create New Container</h1>

<p>
    The ViewBag.containername container is created
    @(ViewBag.Success == true ? " Succeded! " : "failed because the container already exists!")
</p>

